In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("BlackFriday.csv")

del df["Product_Category_2"]
del df["Product_Category_3"]

In [6]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,7969

In [8]:
df["User_ID"] # This show we have many users but those are repeated not distinct

0         1000001
1         1000001
2         1000001
3         1000001
4         1000002
           ...
537572    1004737
537573    1004737
537574    1004737
537575    1004737
537576    1004737
Name: User_ID, Length: 537577, dtype: int64

In [9]:
df["User_ID"].nunique() # This show all the unique customers we have

5891

In [11]:
df["User_ID"].unique() # This show all the user_id of unique customers

array([1000001, 1000002, 1000003, ..., 1004113, 1005391, 1001529],
      dtype=int64)

In [13]:
df["Product_ID"].nunique() # This show all the unique products we have

3623

In [15]:
df["Gender"].unique() # This show all the id/name or value of unique to that column

array(['F', 'M'], dtype=object)

In [17]:
df["Age"].unique() #age groups

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [19]:
df["Occupation"].nunique()

21

In [20]:
df["Occupation"].unique()

array([10, 16, 15,  7, 20,  9,  1, 12, 17,  0,  3,  4, 11,  8, 19,  2, 18,
        5, 14, 13,  6], dtype=int64)

In [21]:
df["City_Category"].unique()

array(['A', 'C', 'B'], dtype=object)

In [22]:
df["Stay_In_Current_City_Years"].unique()

array(['2', '4+', '3', '1', '0'], dtype=object)

In [24]:
df["Marital_Status"].unique()

array([0, 1], dtype=int64)

In [25]:
df["Product_Category_1"].unique()

array([ 3,  1, 12,  8,  5,  4,  2,  6, 14, 11, 13, 15,  7, 16, 18, 10, 17,
        9], dtype=int64)

In [28]:
df["Purchase"].sum()/len(df["Purchase"])

9333.859852635065

In [29]:
for column in df.columns:
    print(column)

User_ID
Product_ID
Gender
Age
Occupation
City_Category
Stay_In_Current_City_Years
Marital_Status
Product_Category_1
Purchase

In [32]:
for column in df.columns:
    print(column, ":" ,df[column].nunique())

User_ID : 5891
Product_ID : 3623
Gender : 2
Age : 7
Occupation : 21
City_Category : 3
Stay_In_Current_City_Years : 5
Marital_Status : 2
Product_Category_1 : 18
Purchase : 17959